<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GTalk_Reminder_Bot.Properties.Settings.ReminderDBConnectionString"
            connectionString="Data Source=BOTULY-PC\SQLEXPRESS;Initial Catalog=ReminderDB;Persist Security Info=True;User ID=SqlTestUser;Password=drek55drek;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>